.lds-dual-ring {
	display: inline-block;
	width: 64px;
	height: 64px;
	top: 20px;
}

.lds-dual-ring:after {
	position: relative;
	top: 20px;
	right: 30px;
	content: ' ';
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #4f9fe6;
	border-color: #5ccfdb transparent #67b3f5 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0%;
	background: rgba(255, 255, 255, 0);
	display: flex;
	flex-direction: row-reverse;
	z-index: 100;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
