.list-item {
	height: 100px;
	width: 700px;
	margin: 1rem 1rem 1.5rem 1rem;
	padding: 1rem;
	border-radius: 25px;
	background: #ececec;
	box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
}

.list-item__container {
	display: flex;
}

.list-item__btn {
	width: 40px;
	height: 40px;
	background: #ececec;
	border-radius: 12px;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: box-shadow 399ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-item__btn .icon {
	height: 20px;
	width: 20px;
	stroke-width: 2px;
}
.list-item__btn:hover {
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.icon-complete {
	color: #54ce3c;
}

.icon-undo {
	color: #9dabc0;
}

.icon-delete {
	color: #ff4e4e;
}

.disabled {
	cursor: not-allowed;
	filter: blur(0.7px);
	opacity: 0.7;
}

.disabled:hover {
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}
