.list {
	padding-top: 1rem;
	margin: 0.5rem;
	flex: 1 1;
	position: relative;
}

.list__container {
	display: flex;
	margin-top: 20px;
	margin-left: 15px;
	flex-direction: column;
	height: 480px;
	overflow-y: auto;
	overflow-x: hidden;
}

.btn-add {
	width: 55px;
	height: 55px;
	margin: 20px 8px 8px;
	border: 1px solid #69d1dd;
	outline: none;
	background: linear-gradient(#5ccfdb, #67b3f5);
	border-radius: 50%;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: box-shadow 399ms ease-in-out;
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn-add:hover {
	box-shadow: inset 7px 7px 15px rgba(47, 79, 175, 0.15),
		inset -7px -7px 20px #4f9fe6, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.btn-add:active {
	border: none;
	outline: none;
}

.add-icon {
	height: 30px;
}

.plus-icon {
	color: #292c31;
	height: 50px;
	width: 50px;
	stroke-width: 0.5px;
}
