.header {
	height: 7rem;
	padding: 1rem;
	border-radius: 20px;
	background: #ececec;
	box-shadow: 5px 5px 10px #c9c9c9;
	transition: box-shadow 399ms ease-in-out;
	justify-content: space-between;
}

/* .header:hover {
	top: -0.2rem;
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
} */
