.header {
	height: 7rem;
	padding: 1rem;
	border-radius: 20px;
	background: #ececec;
	box-shadow: 5px 5px 10px #c9c9c9;
	transition: box-shadow 399ms ease-in-out;
	display: flex;
	justify-content: space-between;
}

.header__title {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
		-5px -5px 10px rgba(255, 255, 255, 1);
}

.header__signup--btn {
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #ececec;
	border-radius: 12px;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: box-shadow 399ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__signup--btn:hover {
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.header-icon {
	stroke-width: 1.5px;
	color: #555555;
}

/* .header:hover {
	top: -0.2rem;
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
} */
