.container {
	min-width: 130rem;
	min-height: 95vh;
	margin: 1.5rem auto;
	border-radius: 20px;
	background: #ecf0f3;
	box-shadow: 5px 5px 10px #c9cccf, -5px -5px 10px #ffffff;
	padding: 1.5rem;
}

.content {
	display: flex;
}
