.nav {
	border-radius: 25px;
	background: #ecf0f3;
	box-shadow: 5px 5px 10px #c9cccf, -5px -5px 10px #ffffff;
	flex: 0 0 25%;
	padding: 1rem;
	margin: 1rem;
	transition: 0.3s;
	height: 52rem;
}

.nav:hover {
	top: -0.2rem;
	background: #ecf0f3;
	box-shadow: 10px 10px 20px #c9cccf, -10px -10px 20px #ffffff;
}
