.auth {
	max-width: 100vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth__container {
	width: 30rem;
	height: 50rem;
	perspective: 100rem;
	-moz-perspective: 100rem;
	-webkit-perspective: 100rem;
	border-radius: 20px;
	transition: all 0.7s ease-out;
	margin-top: 5rem;
}

.auth__container--signup {
	height: 45rem;
	transition: all 1s ease;
	position: absolute;
	background: #ececec;
	text-align: center;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 2.5em;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	overflow: hidden;
}

.auth__container--login {
	height: 45rem;
	transition: all 1s ease;
	position: absolute;
	background: #ececec;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 2.5em;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	overflow: hidden;
	text-align: center;
}

.auth__container--login {
	transform: rotateY(180deg);
}

.auth__container .auth__container--signup.flip {
	transform: rotateY(-180deg);
}
.auth__container .auth__container--login.flip {
	transform: rotateY(0);
}

.auth__signup--name,
.auth__signup--email,
.auth__signup--password,
.auth__login--email,
.auth__login--password {
	height: 40px;
	padding: 15px;
	border-radius: 12px;
	box-shadow: 5px 5px 10px #cdd1d9, -5px -5px 10px #ffffff;
	width: 20rem;
	background-color: #ececec;
}

.auth__heading-signup,
.auth__heading-login {
	font-size: 48px;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
}

.auth__icon {
	color: #555;
	stroke-width: 1px;
}

.auth__back-link {
	position: absolute;
	margin: 3rem;
	border-radius: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: #ececec;
	color: #000;
	font-size: 32px;
	font-weight: 100;
	height: 47px;
	padding: 0 10px 0px 10px;
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: box-shadow 399ms ease-in-out;
}

.auth__back-link:hover {
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.auth__form {
	height: 80%;
}

#signup,
#signin {
	color: #000;
	text-transform: capitalize;
	font-family: 'Itim', cursive;
	font-weight: 400;
	border-radius: 12px;
	border: none;
	outline: none;
	padding: 10px;
	width: 40%;
	background: linear-gradient(#5ccfdb, #67b3f5);
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: all 399ms ease-in-out;
	cursor: pointer;
	position: relative;
	margin-top: 2rem;
}

#signup:disabled,
#signin:disabled {
	filter: grayscale(100%);
	color: #000;
	text-transform: capitalize;
	font-family: 'Itim', cursive;
	font-weight: 400;
	border-radius: 12px;
	border: none;
	outline: none;
	padding: 10px;
	width: 40%;
	background: linear-gradient(#5ccfdb, #67b3f5);
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: box-shadow 399ms ease-in-out;
	cursor: not-allowed;
	position: relative;
}

.auth__btn--flip {
	width: 150px;
	height: 50px;
	margin-top: 2rem;
	border-radius: 12px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #000;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#5ccfdb, #67b3f5);
	box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
		-7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	transition: box-shadow 399ms ease-in-out;
	font-size: 16px;
	font-weight: 400px;
	font-family: 'Itim', cursive;
}

.auth__btn--flip:hover {
	box-shadow: inset 7px 7px 15px rgba(47, 79, 175, 0.15),
		inset -7px -7px 20px #4f9fe6, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

#signup:hover,
#signin:hover,
.back-link:hover,
.auth__btn:hover {
	box-shadow: inset 7px 7px 15px rgba(47, 79, 175, 0.15),
		inset -7px -7px 20px #4f9fe6, 0px 0px 4px rgba(255, 255, 255, 0.2);
}
